<template>
  <form @submit.prevent="onRejectworklistSubmit">
    <div class="form-control">
      <label for="id">Work list ID：</label>
      <label id="id" name="id">{{ rejectworklist.id }}</label>
    </div>
    <div class="form-control">
      <label for="user-id">User ID：</label>
      <label id="user-id" name="user-id">{{ rejectworklist.user_id }}</label>
    </div>
    <div class="form-control">
      <label for="user-id">Task ID：</label>
      <label id="user-id" name="user-id">{{ rejectworklist.task_id }}</label>
    </div>
    <div class="form-control">
      <label for="task-name">Task Name：</label>
      <label id="task-name" name="task-name">{{
        rejectworklist.taskName
      }}</label>
    </div>
    <div class="form-control">
      <label for="date">日期:</label>
      <label> {{ rejectworklist.date }}</label>
    </div>
    <div class="form-control">
      <label for="hour">Hour：</label>
      <label id="hour" name="hour">{{ rejectworklist.hour }}</label>
    </div>
    <div class="form-control">
      <label for="over-time-hour">over-time-hour：</label>
      <label id="over-time-hour" name="over-time-hour">{{
        rejectworklist.overtime_hour
      }}</label>
    </div>
    <div class="form-control">
      <label for="manager-checked">manager-checked：</label>
      <label id="manager-checked" name="manager-checked">{{
        rejectworklist.manager_checked
      }}</label>
    </div>
    <div>
      <label>工作說明:</label>
      <b-form-textarea
        id="description"
        v-model="rejectworklist.description"
        rows="3"
        max-rows="6"
        plaintext
      ></b-form-textarea>
    </div>
    <div>
      <button @click="$emit('close')">確認</button>
      <button @click.prevent="$emit('close')">取消</button>
    </div>
  </form>
</template>
<script>
import { updateWorkhourAPI } from "../../service/apis.js";
export default {
  emits: ["close"],
  computed: {},
  components: {},
  props: [
    "worklisId",
    "userId",
    "taskId",
    "taskName",
    "workDate",
    "worklisDescription",
    "workHour",
    "overtimeHour",
    "managerChecked",
  ],
  data() {
    return {
      rejectworklist: {
        id: this.worklisId,
        user_id: this.userId,
        task_id: this.taskId,
        taskName: this.taskName,
        date: this.workDate,
        description: this.worklisDescription,
        hour: this.workHour,
        overtime_hour: this.overtimeHour,
        manager_checked: this.managerChecked,
      },
    };
  },

  methods: {
    onRejectworklistSubmit() {
      updateWorkhourAPI(this.rejectworklist.id, this.rejectworklist)
        .then((response) => {
          // reflash data list when chiled component update data
          // this.$root.$emit("get_hrworklists");
          this.id = "";
          this.user_id = "";
          this.task_id = "";
          this.taskName = "";
          this.date = "";
          this.description = "";
          this.hour = 0;
          this.overtime_hour = 0;
          this.manager_checked = true;
          console.log(response.data);
          this.message = "The Reject Member worklist Data was successfully!!";
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
};
</script>
<style scoped>
form {
  margin: 8rem auto;
  max-width: 40rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 2rem;
  background-color: #ffffff;
}

.form-control {
  margin: 0.5rem 0;
}

.form-control.invalid input {
  border-color: red;
}

.form-control.invalid label {
  color: red;
}

label {
  font-weight: bold;
}

h2 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

input,
select {
  display: block;
  width: 100%;
  font: inherit;
  margin-top: 0.5rem;
}

select {
  width: auto;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  width: auto;
  margin-right: 1rem;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  font-weight: normal;
}

button {
  font: inherit;
  border: 1px solid #0076bb;
  background-color: #0076bb;
  color: white;
  cursor: pointer;
  padding: 0.75rem 2rem;
  border-radius: 30px;
}

button:hover,
button:active {
  border-color: #002350;
  background-color: #002350;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
}
</style>
