<template>
  <section>
    <!-- <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th colspan="4">
            <h3 style="text-align: center">總工時/月</h3>
          </th>
        </tr>
        <tr>
          <th>年/月</th>
          <th>總工時(hr)</th>
          <th>總加班工時(hr)</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="mtw in monthlyworkhour" :key="mtw.year_month">
          <td>{{ mtw.year_month }}</td>
          <td>{{ mtw.total_hour }}</td>
          <td>{{ mtw.total_overtime_hour }}</td>
        </tr>
      </tbody>
    </table> -->
    <div class="card text-center m-3">
      <div>
        <b-input-group size="sm" class="mb-2">
          <b-input-group-prepend is-text>
            <b-icon icon="calendar-date"></b-icon>
          </b-input-group-prepend>
          <b-col sm="3">
            <date-picker
              v-model="datefilter"
              type="date"
              range
              placeholder="請選擇欲搜尋日期範圍"
            ></date-picker>
          </b-col>
        </b-input-group>
        <b-input-group size="sm" class="mb-2">
          <b-input-group-prepend is-text>
            <b-icon icon="search"></b-icon>
          </b-input-group-prepend>
          <b-col sm="3">
            <select-filter
              :options="options"
              v-model="selected"
            ></select-filter>
          </b-col>
        </b-input-group>
      </div>
      <table
        class="table table-striped table-bordered"
        v-if="worklistbyuser.length > 0"
      >
        <thead>
          <tr>
            <th colspan="10">
              <h3 style="text-align: center">工作週報表</h3>
            </th>
          </tr>
          <tr>
            <!-- <th>user_id</th>
            <th>worklist_id</th> -->
            <th>姓名</th>
            <th>計畫名稱</th>
            <th>日期</th>
            <th>工作說明</th>
            <th>工時(h)</th>
            <th>加班</th>
            <th>加班工時(h)</th>
            <th v-show="checklistAll_permission === 1">
              <label class="form-checkbox">
                全部審核(批准)
                <input
                  type="checkbox"
                  @click="clickCheckAll()"
                  v-model="checkAll"
                />
                <i class="form-icon"></i>
              </label>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="worklist in pageofworklist" :key="worklist.id">
            <!-- <td>{{ worklist.user_id }}</td>
            <td>{{ worklist.id }}</td> -->
            <td>{{ capitalize(worklist.user.username) }}</td>
            <td>{{ worklist.task.taskname }}</td>
            <td>{{ worklist.date }}</td>
            <td>{{ worklist.description }}</td>
            <td>{{ worklist.hour }}</td>
            <td>{{ worklist.is_overtime ? "是" : "否" }}</td>
            <td>{{ worklist.overtime_hour }}</td>
            <td v-show="checklistAll_permission === 1">
              <label class="form-checkbox">
                <input
                  type="checkbox"
                  @click="clickCheckbox(worklist.id, worklist)"
                  v-model="worklist.manager_checked"
                />
                <i class="form-icon">
                  {{ worklist.manager_checked ? "已審核" : "未審核" }}
                </i>
              </label>
            </td>
          </tr>
          <tr>
            <th>{{ selected }} 一般工時: {{ totalhours }} /h</th>
            <th>{{ selected }} 加班工時: {{ totalovertimehours }} /h</th>
            <!-- <th>
              所選日期 總工時（含加班）: {{ totalhours + totalovertimehours }}
            </th> -->
          </tr>
        </tbody>
      </table>
      <table class="table table-striped table-bordered" v-else>
        <thead>
          <tr>
            <th colspan="10">
              <h3 style="text-align: center">工作週報表</h3>
            </th>
          </tr>
          <tr>
            <!-- <th>user_id</th>
            <th>worklist_id</th> -->
            <th>姓名</th>
            <th>日期</th>
            <th>工作說明</th>
            <!-- <th v-show="checklistAll_permission === 1">
              <label class="form-checkbox">
                全部審核(批准)
                <input
                  type="checkbox"
                  @click="clickCheckAll()"
                  v-model="checkAll"
                />
                <i class="form-icon"></i>
              </label>
            </th> -->
          </tr>
        </thead>
        <tbody>
          <tr v-for="hrworklist in hrworklistbyuser" :key="hrworklist.id">
            <!-- <td>{{ worklist.user_id }}</td>
            <td>{{ worklist.id }}</td> -->
            <td>{{ capitalize(hrworklist.user.username) }}</td>
            <td>{{ hrworklist.start_date }} ~ {{ hrworklist.end_date }}</td>
            <td>{{ hrworklist.description }}</td>
            <!-- <td v-show="checklistAll_permission === 1">
              <label class="form-checkbox">
                <input
                  type="checkbox"
                  @click="clickCheckbox(worklist.id, worklist)"
                  v-model="hrworklist.manager_checked"
                />
                <i class="form-icon">
                  {{ hrworklist.manager_checked ? "已審核" : "未審核" }}
                </i>
              </label>
            </td> -->
          </tr>
        </tbody>
      </table>
      <div class="card-footer pb-0 pt-3">
        <jw-pagination
          :items="resultQuery"
          @changePage="onChangeWorkhourPage"
        ></jw-pagination>
      </div>
    </div>
  </section>
</template>

<script>
import Vue from "vue";
import { PaginationPlugin } from "bootstrap-vue";
import SelectFilter from "../filters/SelectFilter.vue";
import {
  getMonthlyWorkhourAPI,
  getWorkhourMyAPI,
  getHrworkhourMyAPI,
  updateWorkhourAPI,
  getTaskAPI,
} from "../../service/apis.js";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
import "vue2-datepicker/locale/zh-cn";
Vue.use(PaginationPlugin);

export default {
  components: { DatePicker, SelectFilter },
  data() {
    return {
      monthlyworkhour: [],
      worklistbyuser: [],
      hrworklistbyuser: [],
      pageofworklist: [],
      options: [{ taskname: "taskname", id: "id" }],
      rows: 100,
      perPage: 10,
      currentPage: 1,
      datefilter: null,
      selected: null,
      isChecklist: [], //被選中的
      checkAll: false, //全選的v-model值
    };
  },
  mounted: function() {
    this.get_monthly_workhour();
    this.get_worklist_by_userid();
    this.get_task();
    this.get_hrworklist_by_userid();
  },
  computed: {
    totalhours: function() {
      console.log(this.resultQuery);
      return this.resultQuery.reduce(function(totalhours, item) {
        return totalhours + item.hour;
      }, 0);
    },
    totalovertimehours: function() {
      console.log(this.resultQuery);
      return this.resultQuery.reduce(function(totalovertimehours, item) {
        return totalovertimehours + item.overtime_hour;
      }, 0);
    },
    checklistAll_permission() {
      return this.$store.getters.getchecklistAll_permission;
    },
    resultQuery() {
      const byDate = (worklist) => {
        const workhourDate = new Date(worklist.date);
        const startDate = new Date(this.datefilter[0]);
        const endDate = new Date(this.datefilter[1]);
        return (
          workhourDate >= startDate &&
          workhourDate <= endDate.setDate(endDate.getDate() + 1)
        );
      };
      const byTitle = (worklist) =>
        worklist.task.taskname.includes(this.selected);

      let worklistbyuser = this.worklistbyuser;

      if (this.selected) {
        worklistbyuser = worklistbyuser.filter(byTitle);
      }

      const hasDateFilter =
        this.datefilter?.length >= 2 &&
        this.datefilter[0] &&
        this.datefilter[1];
      if (hasDateFilter) {
        worklistbyuser = worklistbyuser.filter(byDate);
      }

      return worklistbyuser;
    },
  },
  methods: {
    capitalize(value) {
      return value.replace(/(?:^|\s|-)\S/g, (x) => x.toUpperCase());
    },

    //全選 反選
    clickCheckAll() {
      var _this = this;
      _this.checkAll = !_this.checkAll; //取反
      for (var i = 0; i < _this.pageofworklist.length; i++) {
        //迴圈所有checkbox,新增選中狀態
        var checkedData = _this.pageofworklist[i];
        checkedData.manager_checked = _this.checkAll;
        updateWorkhourAPI(checkedData.id, checkedData);
        // console.log(checkedData);
      }
    },
    //點選單個複選框
    clickCheckbox(id, worklist) {
      var _this = this;
      worklist.manager_checked = !worklist.manager_checked;
      // console.log(worklist);

      if (worklist.manager_checked) {
        _this.isChecklist.push(id); //隨便放個引數到陣列記錄選中數量
        updateWorkhourAPI(id, worklist);
      } else {
        var last = _this.isChecklist.length - 1;
        _this.isChecklist.splice(last, 1); //取消選中時刪掉陣列最後一個
        updateWorkhourAPI(id, worklist);
      }
      if (_this.isChecklist.length == _this.pageofworklist.length) {
        //比較選中的陣列數量和總資料的數量來決定全選是否選中
        _this.checkAll = true;
      } else {
        _this.checkAll = false;
      }
    },
    onChangeWorkhourPage(pageofworklist) {
      // update page of items
      this.pageofworklist = pageofworklist;
    },
    async get_task() {
      await getTaskAPI().then((response) => (this.options = response.data));
    },
    async get_monthly_workhour() {
      await getMonthlyWorkhourAPI(this.$route.params.id).then(
        (response) => (this.monthlyworkhour = response.data)
      );
    },
    async get_worklist_by_userid() {
      await getWorkhourMyAPI(this.$route.params.id).then(
        (response) => (this.worklistbyuser = response.data)
      );
    },
    async get_hrworklist_by_userid() {
      await getHrworkhourMyAPI(this.$route.params.id).then(
        (response) => (this.hrworklistbyuser = response.data)
      );
      console.log(this.hrworklistbyuser);
    },
  },
};
</script>
<style scoped>
.table thead tr th {
  text-align: left;
}
.table tbody tr td {
  white-space: pre-wrap;
  text-align: left;
}
</style>
