<template>
  <section class="post_hrworklist" v-if="isLoggedIn">
    <form @submit.prevent="post_hrworklist">
      <div class="form-control">
        <label for="department">部門：</label>
        <label id="department" name="department">{{ department }}</label>
      </div>
      <div class="form-control">
        <label for="user-name">姓名：</label>
        <label id="user-name" name="user-name">{{ username }}</label>
      </div>
      <div >
        <label for="hrworklist-stert-datepicker">起始日期:</label>
        <b-form-datepicker
          id="hrworklist-stert-datepicker"
          v-model="start_date"
          size="sm"
          locale="zh"
          class="mb-2"
          :state="start_date === null ? false : true"
          required
        ></b-form-datepicker>
      </div>
      <div>
        <label for="hrworklist-end-datepicker">結束日期:</label>
        <b-form-datepicker
          id="hrworklist-end-datepicker"
          v-model="end_date"
          size="sm"
          locale="zh"
          class="mb-2"
          :state="end_date === null ? false : true"
          required
        ></b-form-datepicker>
      </div>
      <div >
        <label for="hrworklist-textarea">工作說明:</label>
        <b-form-textarea
          id="hrworklist-textarea"
          v-model="description"
          placeholder="請輸入工作說明..."
          rows="3"
          max-rows="6"
        ></b-form-textarea>
      </div>

      <div>
        <button @click="$emit('close')">新增</button>
        <button @click.prevent="$emit('close')">取消</button>
      </div>
    </form>
  </section>
</template>
<script>
import { postHrworklistAPI } from "../../service/apis.js";
export default {
  emits: ["close"],
  data() {
    return {
      user_id: this.$store.getters.getUserId,
      username: this.$store.getters.getUsername,
      department: this.$store.getters.getDepartment.department_name,
      start_date: null,
      end_date: null,
      description: "",
    };
  },
  computed: {
    isLoggedIn: function() {
      return this.$store.getters.isAuthenticated;
    },
  },
  methods: {
    post_hrworklist() {
      try {
        var data = {
          user_id: this.user_id,
          start_date: this.start_date,
          end_date: this.end_date,
          description: this.description,
        };
        postHrworklistAPI(data).then((response) => {
          if (response.status == 200) {
            // reflash data list when chiled component update data
            this.$root.$emit("get_hrworklists");
            this.start_date = "";
            this.end_date = "";
            this.description = "";
          }
        });
      } catch (error) {
        throw "Sorry you can't create a new WorkList now!";
      }
    },
  },
};
</script>
<style scoped>
form {
  margin: 7rem auto;
  max-width: 40rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 2rem;
  background-color: #ffffff;
}

.form-control {
  margin: 0.5rem 0;
}

.form-control.invalid input {
  border-color: red;
}

.form-control.invalid label {
  color: red;
}

label {
  font-weight: bold;
}

h2 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

input,
select {
  display: block;
  width: 100%;
  font: inherit;
  margin-top: 0.5rem;
}

select {
  width: auto;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  width: auto;
  margin-right: 1rem;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  font-weight: normal;
}

button {
  font: inherit;
  border: 1px solid #0076bb;
  background-color: #0076bb;
  color: white;
  cursor: pointer;
  padding: 0.75rem 2rem;
  border-radius: 30px;
}

button:hover,
button:active {
  border-color: #002350;
  background-color: #002350;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
}
</style>
