<template>
  <form @submit.prevent="onEditHrworklistSubmit">
    <div class="form-control">
      <label for="department">部門：</label>
      <label id="department" name="department">{{
        editHrworklistData.departMent
      }}</label>
    </div>
    <div class="form-control">
      <label for="user-name">姓名：</label>
      <label id="user-name" name="user-name">{{
        editHrworklistData.worklistUser
      }}</label>
    </div>
    <div>
      <label for="hrworklist-stert-datepicker">起始日期:</label>
      <b-form-datepicker
        id="hrworklist-stert-datepicker"
        v-model="editHrworklistData.start_date"
        size="sm"
        locale="zh"
        class="mb-2"
      ></b-form-datepicker>
    </div>
    <div>
      <label for="hrworklist-end-datepicker">結束日期:</label>
      <b-form-datepicker
        id="hrworklist-end-datepicker"
        v-model="editHrworklistData.end_date"
        size="sm"
        locale="zh"
        class="mb-2"
      ></b-form-datepicker>
    </div>

    <div>
      <label>工作說明:</label>
      <b-form-textarea
        id="hrworklist-textarea"
        v-model="editHrworklistData.description"
        placeholder="請輸入工作說明..."
        rows="3"
        max-rows="6"
      ></b-form-textarea>
    </div>
    <div>
      <button @click="$emit('onClose')">更新</button>
      <button @click.prevent="$emit('onClose')">取消</button>
    </div>
  </form>
</template>
<script>
import { updateHrworklistAPI } from "../../service/apis.js";
export default {
  emits: ["onClose"],
  computed: {},
  components: {},
  props: {
    id: {
      type: Number,
      required: true,
    },
    departmentName: {
      type: String,
      required: true,
    },
    userId: {
      type: Number,
      required: true,
    },
    userName: {
      type: String,
      required: true,
    },
    startDate: {
      type: String,
      required: true,
    },
    endDate: {
      type: String,
      required: true,
    },
    worklistDescription: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      editHrworklistData: {
        worklistId: this.id,
        departMent: this.departmentName,
        worklistUserId: this.userId,
        worklistUser: this.userName,
        start_date: this.startDate,
        end_date: this.endDate,
        description: this.worklistDescription,
      },
      userNameValidity: "pending",
    };
  },

  methods: {
    onEditHrworklistSubmit() {
      updateHrworklistAPI(
        this.editHrworklistData.worklistId,
        this.editHrworklistData
      )
        .then((response) => {
          // reflash data list when chiled component update data
          this.$root.$emit("get_hrworklists");
          this.worklistId = "";
          this.departMent = "";
          this.worklistUserId = "";
          this.worklistUser = "";
          this.start_date = "";
          this.end_date = "";
          this.description = "";
          console.log(response.data);
          this.message = "The Hrworklist Data was updated successfully!!";
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
};
</script>

<style scoped>
form {
  margin: 8rem auto;
  max-width: 40rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 2rem;
  background-color: #ffffff;
}

.form-control {
  margin: 0.5rem 0;
}

.form-control.invalid input {
  border-color: red;
}

.form-control.invalid label {
  color: red;
}

label {
  font-weight: bold;
}

h2 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

input,
select {
  display: block;
  width: 100%;
  font: inherit;
  margin-top: 0.5rem;
}

select {
  width: auto;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  width: auto;
  margin-right: 1rem;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  font-weight: normal;
}

button {
  font: inherit;
  border: 1px solid #0076bb;
  background-color: #0076bb;
  color: white;
  cursor: pointer;
  padding: 0.75rem 2rem;
  border-radius: 30px;
}

button:hover,
button:active {
  border-color: #002350;
  background-color: #002350;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
}
</style>
