<template>
  <div class="card mt-5">
    <div class="card text-center m-3" v-if="items">
      <div>
        <b-row>
          <b-col md="1" class="mb-0">
            <b-button
              size="lg"
              variant="outline-primary"
              class="mb-2"
              v-b-tooltip.hover
              title="新增工作記錄"
              @click="showAddHrworklists()"
            >
              <b-icon icon="file-earmark-plus" animation="cylon"></b-icon>
            </b-button>
          </b-col>
        </b-row>
      </div>
      <div class="card-header">
        <h4>工作記錄</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>部門</th>
                <th>姓名</th>
                <th>日期</th>
                <th>工作說明</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in items" :key="item.id">
                <template>
                  <td>
                    {{ item.user.department.department_name }}
                  </td>
                  <td>
                    {{ item.user.username }}
                  </td>

                  <td>{{ item.start_date }} ~ {{ item.end_date }}</td>
                  <td>
                    {{ item.description }}
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-warning"
                      @click="toggleHrworklistId(item.id)"
                    >
                      編輯
                    </button>
                    <button
                      class="btn btn-sm btn-outline-danger"
                      @click="deleteHrworklist(item.id)"
                    >
                      刪除
                    </button>
                  </td>
                </template>
              </tr>
              <!-- <tr>
                <th>所選日期 休假總時數: {{ totalspends }}</th>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="card-footer pb-0 pt-3">
        <jw-pagination
          :items="resultQuery"
          @changePage="onChangeExpenPage"
        ></jw-pagination>
      </div> -->
    </div>
    <div v-else>No Data</div>
    <div>
      <transition name="fade">
        <div v-if="addHrworklistsIsVisible" class="backdrop">
          <add-hrworklist @close="hideAddHrworklists"></add-hrworklist>
        </div>
      </transition>
      <transition name="fade">
        <div v-if="this.activeTopic" class="backdrop">
          <edit-hrworklist
            :key="activeTopic.id"
            :id="activeTopic.id"
            :department-name="activeTopic.user.department.department_name"
            :user-id="activeTopic.user_id"
            :user-name="activeTopic.user.username"
            :start-date="activeTopic.start_date"
            :end-date="activeTopic.end_date"
            :worklist-description="activeTopic.description"
            @onClose="toggleHrworklistId"
          >
          </edit-hrworklist>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import { getHrworklistAPI, deleteHrworklistAPI } from "../../service/apis.js";
import AddHrworklist from "./AddHrworklist.vue";
import EditHrworklist from "./EditHrworklist.vue";
export default {
  components: { AddHrworklist, EditHrworklist },
  data() {
    return {
      items: [],
      dialogIsVisible: true,
      addHrworklistsIsVisible: false,
      activeTopic: null,
    };
  },
  mounted() {
    this.get_hrworklists();
  },
  created() {
    // reflash data list when chiled component update data
    this.$root.$on("get_hrworklists", this.get_hrworklists);
  },
  methods: {
    deleteHrworklist(id) {
      if (confirm("確定要刪除這筆資料嗎?")) {
        deleteHrworklistAPI(id).then(() => {
          this.get_hrworklists();
        });
      }
    },
    get_hrworklists() {
      getHrworklistAPI().then((response) => (this.items = response.data));
    },
    toggleHrworklistId(hrworklistId) {
      console.log(hrworklistId);
      this.activeTopic = this.items.find((item) => item.id === hrworklistId);
      console.log("Data:");
      console.log(this.activeTopic);
      this.dialogIsVisible = false;
    },
    showAddHrworklists() {
      this.addHrworklistsIsVisible = true;
    },
    hideAddHrworklists() {
      this.addHrworklistsIsVisible = false;
    },
  },
};
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.model-enter-active,
.model-leave-active {
  transition: opacity 0.5s;
}
.model-enter, .model-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
}
</style>
