<template>
  <div>
    <the-header></the-header>
    <the-header-nav></the-header-nav>
  </div>
</template>
<script>
import TheHeaderNav from "./TheHeaderNav.vue";
import TheHeader from "./TheHeaders.vue";
export default {
  name: "NavBar",
  data() {
    return {};
  },
  components: {
    TheHeaderNav,
    TheHeader,
  },
  computed: {
    isLoggedIn: function () {
      return this.$store.getters.isAuthenticated;
    },
    username: function () {
      return this.$store.getters.getUsername;
    },
    fullname: function () {
      return this.$store.getters.getFullname;
    },
    checklistAll_permission() {
      return this.$store.getters.getchecklistAll_permission;
    },
  },
  methods: {
    async logout() {
      await this.$store.dispatch("LogOut");
      this.$router.push("/login");
    },
  },
};
</script>

