<template>
  <div>
    <b-card title="Card Title" no-body>
      <b-card-header header-tag="nav">
        <b-nav card-header tabs justified>
          <b-nav-item to="/home">首頁</b-nav-item>
          <b-nav-item
            to="/workhour"
            v-show="
              checklistAll_permission === 0 ||
                checklistAll_permission === 1 ||
                superUser === true
            "
            >週報表填寫</b-nav-item
          >
          <b-nav-item
            to="/expen"
            v-show="
              checklistAll_permission === 0 ||
                checklistAll_permission === 1 ||
                superUser === true
            "
            >支出費用</b-nav-item
          >

          <b-nav-item
            to="/adminUserlists"
            v-show="
              checklistAll_permission === 3 ||
                checklistAll_permission === 2 ||
                superUser === true
            "
            >部門清單
          </b-nav-item>

          <b-nav-item
            to="/admincheckedMembers"
            v-show="checklistAll_permission === 3 || superUser === true"
            >員工週報審核
          </b-nav-item>
          <b-nav-item to="/task">計畫項目清單</b-nav-item>
          <b-nav-item to="/expentask">支出費用清單</b-nav-item>
          <b-nav-item
            to="/excel"
            v-show="
              checklistAll_permission === 0 ||
                checklistAll_permission === 1 ||
                superUser === true
            "
            >匯出Excel</b-nav-item
          >

          <b-nav-item
            to="/userbydp"
            v-show="checklistAll_permission === 1 || superUser === true"
            >組員名單
          </b-nav-item>

          <div v-show="superUser === true">
            <b-nav-item to="/coo">superUser</b-nav-item>
          </div>
          <!-- <b-nav-item to="/alluserworklists" v-show="superUser === true"
            >superUser週報表審核
          </b-nav-item> -->
          <b-nav-item target="_blank">
            <b-icon icon="info-circle-fill" variant="info"></b-icon>
          </b-nav-item>
          <b-nav pills>
            <span v-if="isLoggedIn">
              <b-button variant="outline-info" class="mb-2" @click="logout">
                <b-icon icon="power" aria-hidden="true"></b-icon>Logout
              </b-button>
              ({{ username }})
            </span>
            <span v-else>
              <!-- <b-button variant="info" to="/register"> Sign Up </b-button> | -->
              <b-button variant="outline-success" to="/login">Login</b-button>
            </span>
          </b-nav>
        </b-nav>
      </b-card-header>
    </b-card>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      // pdfLink: require("../../assets/系統操作手冊.pdf"),
    };
  },
  computed: {
    isLoggedIn: function() {
      return this.$store.getters.isAuthenticated;
    },
    username: function() {
      return this.$store.getters.getUsername;
    },
    fullname: function() {
      return this.$store.getters.getFullname;
    },
    checklistAll_permission() {
      return this.$store.getters.getchecklistAll_permission;
    },
    superUser() {
      return this.$store.getters.getSuperUser;
    },
  },
  methods: {
    async logout() {
      await this.$store.dispatch("LogOut");
      this.$router.push("/login");
    },
  },
};
</script>
