<template>
  <section v-if="userlistes">
    <div class="text-center">
      <h4>週報表審核</h4>
    </div>
    <b-card
      no-body
      class="mb-1"
      v-for="(users, idx) in userlistes"
      :key="users.id"
    >
      <b-card-header header-tag="header" class="p-0" role="tab">
        <div class="d-grid gap-2">
          <b-button
            block
            variant="secondary"
            v-b-toggle="`accordion-${users.id}`"
          >
            {{ capitalize(users.username) }}
            {{ users.fullname }}
            <b-badge pill variant="info" v-if="getUserId === 22">{{
              cooComp(users.workhours)
            }}</b-badge>
            <b-badge pill variant="info" v-else>{{
              ceoComp(users.workhours)
            }}</b-badge>
          </b-button>
        </div>
      </b-card-header>
      <b-collapse
        :id="`accordion-${users.id}`"
        accordion="table-accordion"
        role="tabpanel"
      >
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th colspan="10">
                <h3 style="text-align: center">
                  {{ capitalize(users.username) }} 工作週報
                </h3>
              </th>
            </tr>
            <tr>
              <th>計畫名稱</th>
              <th>日期</th>
              <th>工作說明</th>
              <th>工時(h)</th>
              <th>加班</th>
              <th>加班工時(h)</th>
              <th v-if="getUserId === 22">
                <label class="form-checkbox">
                  全部審核(批准)
                  <input
                    type="checkbox"
                    @click="cooClickCheckAll(idx)"
                    :value="cooAllChecked(idx)"
                  />
                  <i class="form-icon"></i>
                </label>
              </th>
              <th v-else>
                <label class="form-checkbox">
                  全部審核(批准)
                  <input
                    type="checkbox"
                    @click="ceoClickCheckAll(idx)"
                    :value="ceoAllChecked(idx)"
                  />
                  <i class="form-icon"></i>
                </label>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="worklist in users.workhours" :key="worklist.id">
              <td>{{ worklist.task.taskname }}</td>
              <td>{{ worklist.date }}</td>
              <td>{{ worklist.description }}</td>
              <td>{{ worklist.hour }}</td>
              <td>{{ worklist.is_overtime ? "是" : "否" }}</td>
              <td>{{ worklist.overtime_hour }}</td>
              <td v-if="getUserId === 22">
                <label class="form-checkbox">
                  <input
                    type="checkbox"
                    @click="cooClickCheckbox(worklist.id, worklist)"
                    v-model="worklist.admin1_checked"
                    :value="worklist.user_id"
                    number
                  />
                  <i class="form-icon">
                    {{ worklist.admin1_checked ? "已審核" : "未審核" }}
                  </i>
                </label>
              </td>
              <td v-else>
                <label class="form-checkbox">
                  <input
                    type="checkbox"
                    @click="ceoClickCheckbox(worklist.id, worklist)"
                    v-model="worklist.admin2_checked"
                    :value="worklist.user_id"
                    number
                  />
                  <i class="form-icon">
                    {{ worklist.admin2_checked ? "已審核" : "未審核" }}
                  </i>
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </b-collapse>
    </b-card>

    <b-list-group>
      <b-list-group-item
        v-for="user in allUsers"
        :key="user.id"
        class="d-flex justify-content-between align-items-center"
      >
        {{ capitalize(user.username) }}
        {{ user.fullname }}
        <b-badge variant="primary" pill>14</b-badge>
      </b-list-group-item>
    </b-list-group>
  </section>
  <div v-else>No Data</div>
</template>

<script>
import {
  getAdminCheckUsersAPI,
  updateWorkhourAPI,
  getUserlistsAPI,
} from "../../service/apis.js";

export default {
  data() {
    return {
      allUsers: [],
      userlistes: [],
      cooisChecklist: [],
      ceoisChecklist: [],
      cooCheckAll: false,
      ceoCheckAll: false,
      // workhours: [],
    };
  },
  mounted() {
    this.get_allUsers();
    this.get_members();
  },
  computed: {
    cooComp() {
      return (workhours) =>
        workhours.reduce(
          (sum, worklist) =>
            worklist.admin1_checked === false ? sum + 1 : sum,
          0
        );
    },
    ceoComp() {
      return (workhours) =>
        workhours.reduce(
          (sum, worklist) =>
            worklist.admin2_checked === false ? sum + 1 : sum,
          0
        );
    },
    getUserId() {
      return this.$store.getters.getUserId;
    },
  },
  methods: {
    capitalize(value) {
      return value.replace(/(?:^|\s|-)\S/g, (x) => x.toUpperCase());
    },
    cooAllChecked(idx) {
      return this.userlistes[idx].workhours.some((el) => el.admin1_checked);
    },
    cooClickCheckAll(idx) {
      this.cooCheckAll = !this.cooCheckAll;
      const currentUser = this.userlistes[idx];
      for (let i = 0; i < currentUser.workhours.length; i++) {
        const id = currentUser.workhours[i].id;
        const worklist = currentUser.workhours[i];
        currentUser.workhours[i].admin1_checked = !currentUser.workhours[i]
          .admin1_checked;
        console.log(id);
        console.log(worklist);
        console.log(currentUser.workhours[i].admin1_checked);
        currentUser.workhours[i].admin1_checked = this.cooCheckAll;
        updateWorkhourAPI(id, worklist);
      }
    },
    ceoAllChecked(idx) {
      return this.userlistes[idx].workhours.some((el) => el.admin2_checked);
    },
    ceoClickCheckAll(idx) {
      this.ceoCheckAll = !this.ceoCheckAll;
      const currentUser = this.userlistes[idx];
      for (let i = 0; i < currentUser.workhours.length; i++) {
        const id = currentUser.workhours[i].id;
        const worklist = currentUser.workhours[i];
        currentUser.workhours[i].admin2_checked = !currentUser.workhours[i]
          .admin2_checked;
        console.log(id);
        console.log(worklist);
        console.log(currentUser.workhours[i].admin2_checked);
        currentUser.workhours[i].admin2_checked = this.ceoCheckAll;
        updateWorkhourAPI(id, worklist);
      }
    },
    cooClickCheckbox(id, worklist) {
      var _this = this;
      worklist.admin1_checked = !worklist.admin1_checked;

      if (worklist.admin1_checked) {
        _this.cooisChecklist.push(id);
        updateWorkhourAPI(id, worklist);
      } else {
        var last = _this.cooisChecklist.length - 1;
        _this.cooisChecklist.splice(last, 1);
        updateWorkhourAPI(id, worklist);
      }
      if (_this.cooisChecklist.length == _this.userlistes.length) {
        _this.cooCheckAll = true;
      } else {
        _this.cooCheckAll = false;
      }
    },
    ceoClickCheckbox(id, worklist) {
      var _this = this;
      worklist.admin2_checked = !worklist.admin2_checked;

      if (worklist.admin2_checked) {
        _this.ceoisChecklist.push(id);
        updateWorkhourAPI(id, worklist);
      } else {
        var last = _this.ceoisChecklist.length - 1;
        _this.ceoisChecklist.splice(last, 1);
        updateWorkhourAPI(id, worklist);
      }
      if (_this.ceoisChecklist.length == _this.userlistes.length) {
        _this.ceoCheckAll = true;
      } else {
        _this.ceoCheckAll = false;
      }
    },
    async get_allUsers() {
      await getUserlistsAPI().then(
        (response) => (this.allUsers = response.data)
      );
    },
    async get_members() {
      await getAdminCheckUsersAPI().then(
        (response) => (this.userlistes = response.data)
      );
    },
  },
};
</script>
<style scoped>
section {
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 2rem auto;
  max-width: 80rem;
}
</style>
