<template>
  <base-card v-if="isLoggedIn">
    <b-button
      squared
      variant="outline-primary"
      v-for="tab in tabs"
      :key="tab"
      @click="component = tab"
      >{{ tab }}
    </b-button>
    <keep-alive>
      <component :is="component" />
    </keep-alive>
  </base-card>
  <base-card v-else>No Data</base-card>
</template>

<script>
import AdminUserlists from "../components/coo/AdminUserlists.vue";
import AdmincheckedMembers from "../components/coo/AdmincheckedMembers.vue";
import TaskDetail from "../components/task/TaskDetail";
import HrcheckedMembers from "../components/hr/HrcheckedMembers.vue";
import TaskCountTotalhourByYears from "../components/task/TaskCountTotalhourByYears.vue";

export default {
  components: {
    AdminUserlists,
    TaskDetail,
    AdmincheckedMembers,
    HrcheckedMembers,
    TaskCountTotalhourByYears,
  },
  data() {
    return {
      tabs: [
        "AdminUserlists",
        "AdminWorklists",
        "TaskDetail",
        "AdmincheckedMembers",
        "HrcheckedMembers",
        "TaskCountTotalhourByYears",
      ],
      component: "AdminUserlists",
    };
  },
  computed: {
    isLoggedIn: function() {
      return this.$store.getters.isAuthenticated;
    },
  },
};
</script>

<style></style>
