<template>
  <base-card v-if="isLoggedIn">
    <b-button
      squared
      variant="outline-primary"
      v-for="tab in tabs"
      :key="tab"
      @click="component = tab"
      >{{ tab }}
    </b-button>
    <keep-alive>
      <component :is="component" />
    </keep-alive>
  </base-card>
  <base-card v-else>No Data</base-card>
</template>

<script>
import 週報表填寫 from "../components/hr/StoreHrworklist.vue";
import 週報表審核 from "../components/hr/HrcheckedMembers.vue";

export default {
  components: { 週報表填寫, 週報表審核 },
  data() {
    return {
      tabs: ["週報表填寫", "週報表審核"],
      component: "週報表填寫",
    };
  },
  computed: {
    isLoggedIn: function() {
      return this.$store.getters.isAuthenticated;
    },
  },
};
</script>

<style></style>
