<template>
  <div>
    <b-card
      no-body
      class="mb-4"
      v-for="(groups, type) in groupedItems"
      :key="type.id"
    >
      <b-card-header header-tag="header" class="p-0" role="tab">
        <b-button block v-b-toggle="`accordion-${type}`" variant="primary">
          Type {{ type }}
        </b-button>
      </b-card-header>
      <b-collapse :id="`accordion-${type}`" visible role="tabpanel">
        <b-card no-body v-for="(items, group) in groups" :key="group.id">
          <b-card-header header-tag="header" class="p-0" role="tab">
            <b-button
              block
              v-b-toggle="`accordion-group-${group}`"
              variant="secondary"
            >
              Type {{ group }}
            </b-button>
          </b-card-header>
          <b-collapse
            :id="`accordion-group-${group}`"
            :accordion="`table-accordion-${type}`"
            role="tabpanel"
          >
            <b-table :fields="fields" :items="items"></b-table>
          </b-collapse>
        </b-card>
      </b-collapse>
    </b-card>
    <!-- <b-form-group>
      <b>Choose your flavours:</b><br />
      <b-form-checkbox
        v-model="allSelected"
        :indeterminate="indeterminate"
        aria-describedby="flavours"
        aria-controls="flavours"
        @change="toggleAll"
      >
        {{ allSelected ? "Un-select All" : "Select All" }}
      </b-form-checkbox>

      <b-form-checkbox-group
        id="flavors"
        v-model="selected"
        :options="userlistes"
        :aria-describedby="ariaDescribedby"
        name="flavors"
        class="ml-4"
        aria-label="Individual flavours"
        stacked
      ></b-form-checkbox-group>
    </b-form-group>

    <div>
      Selected: <strong>{{ selected }}</strong
      ><br />
      All Selected: <strong>{{ allSelected }}</strong
      ><br />
      Indeterminate: <strong>{{ indeterminate }}</strong>
    </div>
    <b-table :items="userlistes" :fields="fields" striped responsive="sm">
      <template #cell(show_details)="row">
        <b-button size="sm" @click="row.toggleDetails" class="mr-2"
          >{{ row.detailsShowing ? "Hide" : "Show" }} Details</b-button
        >
      </template>
      <template #cell(check_permission)>
        <b-check size="sm" class="mr-2" v-model="checkAll"> checked</b-check>
      </template>
      <template #row-details="row">
        <b-card v-for="worklist in row.item.workhours" :key="worklist.id">
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right">
              <b>worklist id:</b>
            </b-col>
            <b-col>{{ worklist.id }}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right">
              <b>task id:</b>
            </b-col>
            <b-col>{{ worklist.task_id }}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right">
              <b>taskname:</b>
            </b-col>
            <b-col>{{ worklist.task.taskname }}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right">
              <b>date:</b>
            </b-col>
            <b-col>{{ worklist.date }}</b-col>
          </b-row>

          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right">
              <b>Hours:</b>
            </b-col>
            <b-col>{{ worklist.hour }}/hr</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right">
              <b>overtime_hour:</b>
            </b-col>
            <b-col>{{ worklist.overtime_hour }}/hr</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right">
              <b>description:</b>
            </b-col>
            <b-col>{{ worklist.description }}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right">
              <b>check:</b>
            </b-col>
            <b-col>
              {{ worklist.hr_checked }}
              <input type="checkbox" v-model="worklist.hr_checked" />
            </b-col>
          </b-row>
        </b-card>

        <b-button size="sm" @click="row.toggleDetails">Hide Details</b-button>
      </template>
    </b-table>
    <div>
      <input type="checkbox" v-model="all" />Select all<br />

      <hr />

      All: {{ all }}<br />

      <b-form-group>
        <template slot="label">
          <b>Choose your food filters:</b><br />
          <b-form-checkbox v-model="allSelected" @change="toggleAll">
            {{ allSelected ? "Un-select All" : "Select All" }}
          </b-form-checkbox>
        </template>

        <table v-for="(user, idx) in userlistes" :key="idx" class="indent ml-4">
          <p>User Id: {{ user.id }}</p>
          <p>User: {{ user.username }}</p>
          <b-form-checkbox v-model="allSelected" @change="toggleAll">
            {{ allSelected ? "Un-User select" : "User Select" }}
          </b-form-checkbox>
          <p>task_id:{{ user.task_id }}</p>

          <b-form-checkbox
            v-for="(workhour, idx) in user.workhours"
            :key="idx"
            v-model="workhour.hr_checked"
            class="db-indent ml-2"
          >
            task_id: {{ workhour.task_id }} hr_checked:
            {{ workhour.hr_checked }}
          </b-form-checkbox>
        </table>
      </b-form-group>
    </div>
    <div>
      <h4>User</h4>
      <div>
        <table>
          <tr>
            <th>Name</th>
            <th>Select All<input type="checkbox" v-model="selectAll" /></th>
          </tr>
          <tr v-for="user in userlistes" :key="user.id">
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>
              <input
                type="checkbox"
                v-model="userIds"
                @click="select"
                :value="user.id"
              />
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <th><input type="checkbox" v-model="selectAll" /></th>
            <th align="left">Name</th>
          </tr>
          <tr v-for="user in userlistes" :key="user.id">
            <td>
              <input
                type="checkbox"
                v-model="selected"
                :value="user.id"
                number
              />
            </td>
            <td>{{ user.username }}</td>
          </tr>
        </table>
      </div>

      <span>Selected Ids: {{ selected }}</span>
    </div> -->
  </div>
</template>

<script>
import { getUsersAllAPI, updateWorkhourAPI } from "../../service/apis.js";

export default {
  data() {
    return {
      // isBusy: false,
      userlistes: [],
      items: [],
      fields: ["department.department_name", "workhours"],
      // fields: [
      //   {
      //     key: "username",
      //     label: "組員名單",
      //     sortable: true,
      //   },
      //   {
      //     key: "department.department_name",
      //     label: "department",
      //   },
      //   "show_details",
      //   "check_permission",
      // ],
      // all: false,
      // indeterminate: false,
      // selectedNames: [],

      // selected: [],
      // allSelected: false,
      // userIds: [],

      // checkAll: false, //全選的v-model值
    };
  },
  computed: {
    groupedItems() {
      const groups = {};

      this.items.forEach((item) => {
        if (!groups[item.username]) groups[item.username] = {};

        if (groups[item.username][item.workhours]) {
          groups[item.username][item.workhours].push(item);
        } else {
          groups[item.username][item.workhours] = [item];
        }
      });

      return groups;
    },
    // selectAll: {
    //   get: function () {
    //     return this.userlistes
    //       ? this.selected.length == this.userlistes.length
    //       : false;
    //   },
    //   set: function (value) {
    //     var selected = [];
    //     if (value) {
    //       this.userlistes.forEach(function (user) {
    //         selected.push(user.id);
    //       });
    //     }
    //     this.selected = selected;
    //   },
    // },
    // allNamesSelected() {
    //   return this.names.length == this.selectedNames.length;
    // },
    // selectAll() {
    //   return this.userlistes.every((worklists) => {
    //     return worklists.every((worklist) => {
    //       return worklist.hr_checked;
    //     });
    //   });
    // },
  },
  mounted() {
    this.get_members();
  },
  methods: {
    // selectAll() {
    //   this.userIds = [];

    //   if (this.allSelected) {
    //     for (user in this.userlistes) {
    //       this.userIds.push(this.userlistes[user].id.toString());
    //     }
    //   }
    // },
    // select() {
    //   this.allSelected = false;
    // },
    // isChecked(name) {
    //   return this.selectedNames.includes(name);
    // },
    // toggleAll(checked) {
    //   this.userlistes = this.userlistes.map((user) => {
    //     user.selected = checked;
    //     user.workhours = user.workhours.map((workhour) => {
    //       workhour.hr_checked = checked;
    //       return workhour;
    //     });
    //     return user;
    //   });
    // },
    // toggleSelect() {
    //   var select = this.selectAll;
    //   this.userlistes.workhours.forEach((user) => {
    //     user.workhours.hr_checked = !select;
    //   });
    //   this.selectAll = !select;
    // },
    get_members() {
      getUsersAllAPI().then((response) => (this.userlistes = response.data));
      getUsersAllAPI().then((response) => (this.items = response.data));
    },

    hr_check_update(id, hr_checked) {
      updateWorkhourAPI(id, hr_checked)
        .then((response) => {
          this.get_members();
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
  watch: {
    // all() {
    //   this.workhours.hr_checked = !this.workhours.hr_checked;
    // },
    // "filters.breakfast.breakfast"() {
    //   this.filters.breakfast.eggs = !this.filters.breakfast.eggs;
    // },
    // selected(newValue) {
    //   // Handle changes in individual flavour checkboxes
    //   if (newValue.length === 0) {
    //     this.indeterminate = false;
    //     this.allSelected = false;
    //   } else if (newValue.length === this.flavours.length) {
    //     this.indeterminate = false;
    //     this.allSelected = true;
    //   } else {
    //     this.indeterminate = true;
    //     this.allSelected = false;
    //   }
    // },
  },
};
</script>
<style scoped>
.indent {
  margin-left: 1em;
}

.db-indent {
  margin-left: 2em;
}
</style>